extends layout

block head
  title qSign - Create
block content
  #container
    #main
    
  footer#footer
    p Created by danstyx &amp; stripcheese - 2020
    p
      | Quick Links:
      a(href='home.html') Home
      |  -
      a(href='discord.gg/something') Discord
      |  -
      a(href='faq.html') FAQ
      |  -
      a(href='https://colorhunt.co/palette/186981') Color Palette
