extends layout

block head
  title qSign - faq
block content
  #container
    #main
      h1 Thank you for using qSign
      h3 Created by danstyx & stripcheese :)
      audio controls autoplay
        source(
          src='./Sounds/ee.mp3'
          type='audio/mpeg'
        )
