extends layout

block head
  title qSign - Create/Sign
block content
  #container
    #main
      nav
        img.navlogo(src='./Images/logo.png' width='30%' height='10%')
      h1 Welcome to qSign
      h3 create easy, online yearbook signing pages for you &amp; your friends!
      #menu
        script(src='./Scripts/menu.js')
