--2020-05-04 04:40:52--  https://raw.githubusercontent.com/0x000NULL/qsign/master/views/index.pug
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 199.232.64.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|199.232.64.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1172 (1.1K) [text/plain]
Saving to: ‘index.pug.1’

     0K .                                                     100% 22.3M=0s

2020-05-04 04:40:52 (22.3 MB/s) - ‘index.pug.1’ saved [1172/1172]

