extends layout

block content
  doctype html
	head
	  meta(name='viewport' content='width=device-width, initial-scale=1.0')
	  meta(name='author' content='danstyx & stripcheese')
	  meta(name='description' content="Stuck in quarantine? Didn't get to sign your pals & gals' yearbooks? Try qSign, FOREVER FREE!")
	  meta(name='keywords' content='Yearbook, Quarantine, Signing')
	  link(rel='stylesheet' href='./stylesheets/default.css')
	  link(rel='' <link='' href='./Images/favicon.png' type='image')
	  title qSign - Create/Sign
	#container
	  #main
	    nav
	      img.navlogo(src='./Images/logo.png' width='30%' height='10%')
	    h1 Welcome to qSign
	    h3 create easy, online yearbook signing pages for you &amp; your friends!
	    #menu
	      script(src='./Scripts/menu.js')
	footer#footer
	  p Created by danstyx &amp; stripcheese - 2020
	  p
	    | Quick Links: 
	    a(href='home.html') Home
	    |  - 
	    a(href='discord.gg/something') Discord
	    |  - 
	    a(href='faq.html') FAQ
	    |  - 
	    a(href='https://colorhunt.co/palette/186981') Color Palette

