doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='Daniel danstyx Little & Ethan stripcheese Aldrich')
    meta(name='description' content="Didn't get to sign your pals & gals' yearbooks? Try qSign, FOREVER FREE!")          
    meta(name='keywords' content='Yearbook, Quarantine, Signing')
    link(rel='stylesheet' href='./stylesheets/default.css')
    link(rel='icon' href='./Images/favicon.png' type='image')
    block head
  body
    block content
    footer#footer
      p Created by danstyx &amp; stripcheese - 2020
      p
        Quick Links: |
        a(href='/') Home
        | - |
        a(href='https://discord.gg/QrsU3bK' target="_blank") Discord
        | - |
        a(href='faq') FAQ
